.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-form {
  display: flex;
  margin-left: 3.3rem;
  width: 90%;
}

.add-form-bt {
  margin: 3rem 0 1.5rem 0;
  color: rgb(0, 89, 255);
  border: 1px solid rgb(0, 89, 255);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;

}

.add-form-ct {
  width: 40vw;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: flex-start;
}

.add-form-ct button{
  margin-top: 1rem;
  color: #FFF;
  border: 2px solid rgb(0, 89, 255);
  background-color: rgba(0, 89, 255, 0.76);
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: 600;
  width: inherit;
  min-width: 25rem;
}

.foods {
  width: 87vw;
  min-width: 25rem;
  display: flex;
  flex-wrap: wrap;
}

.err-msg {
  margin-top: 20vh;
  font-size: 3rem;
  color: rgb(146, 146, 146);
  font-weight: 100;
}